<div class="row">
  <div class="cpl-xs-12">
    <img src="{{selectedRecipie?.imgPath}}" class="img-responsive" alt=""/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipie?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button type="button" class="btn btn-success" name="button">To Shopping</button>
    <button type="button" class="btn btn-primary" name="button">Edit</button>
    <button type="button" class="btn btn-danger" name="button">Delete</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipie?.description}}</p>
  </div>
</div>
<div class="row">
  Ingredients
</div>
